.inlineDiv {
  border-bottom: 2px solid black;
  width: 400px;
  margin: auto;
  margin-bottom: 30px;
}

.container_time {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 10px;
}
